# Python
__pycache__/
*.py[cod]
*.egg-info/
*.log

# Virtual env
.venv/
venv/

# Django
db.sqlite3
*.sqlite3
media/
staticfiles/
static/
.env

# OS/editor junk
.DS_Store
.vscode/
.idea/

# Migrations cache 
**/__pycache__/

# Backups
*.bak
*.tar.gz
